{% extends "base.html" %}
{% block title %}
CyberRange
{% endblock %}
{% block content %}

<div id="admin_area" class="content-container">
  <div class="content">
  <h1>Notifications</h1>

  <h4>Choose a predefined Notification</h4>

  <p>Click on one of the predefined notifications to use it as message content.</p>

  <div style="margin-bottom: 60px;">
  {% if init_notifications | length %}
  <table id="notification_table">
    <tr>
        <th width="20%">Title</th>
        <th>Message</th>
    </tr>

    {% for init_notification in init_notifications %}
    <tr onclick="insertNotificationToTextarea(this)">
      <td id="title"><strong>{{ init_notification["title"] }}</strong></td>
      <td id="msg">{{ init_notification["msg"] }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <span class="no-data">
    No predefined notifications.
  </span>
  {% endif %}
  </div>

  <h4>Create a new Notification</h4>

  <p>Select the user to whom the notification is to be sent. Multiple and group selection is possible (duplicate selections will be ignored). The position can be used to select the view on which the notification is to be displayed.</p>

  <form id="notificationForm">
    <label for="users">Users:</label>
    <select class="users-selection" name="users" id="users" multiple="multiple">
      <optgroup label="Users">
        {% for user in userlist %}
          <option value='{{ user["username"] }}'>{{ user['username'] }}</option>
        {% endfor %}
      </optgroup>
      <optgroup class="group-select" label="Usergroups">
        {% for usergroup_name, usergroup_user_ids in usergroups.items() %}
          <option value='{"group" : "{{ usergroup_name }}" }'>{{ usergroup_name }}</option>
        {% endfor %}
      </optgroup>
    </select>
    <label for="msg">Message:</label>
    <textarea type="text" id="msg" name="msg"></textarea>
    <label for="position">Position:</label>
    <select name="position" id="position">
      <option value='all'>all</option>
      <option value='clients'>clients</option>
      <option value='documentation'>documentation</option>
      <option value='exercises'>exercises</option>
      <option value='presentations'>presentations</option>
    </select>
    <br><br>
    <button type="submit" class="btn green-btn" onclick="sendForm()">Submit</button>
  </form>
  </div>
</div>

{% endblock %}
