<div class="branding-logo-line">
    <div class="logo-container">
        <img class="branding-logo" src="{{ url_for('static', filename='img/iaea-logo.png') }}" alt="IAEA Logo" />
    </div>
    <div class="text-container">
        <strong>International Atomic Energy Agency</strong><br>
        Vienna International Centre, PO Box 100<br>
        A-1400 Vienna, Austria<br>
        Telephone: +43 (1) 2600-0, <a href="https://www.iaea.org/" target="_blank">www.iaea.org</a>
    </div>
</div>
<div class="branding-logo-line">
    <div class="logo-container">
        <img class="branding-logo" src="{{ url_for('static', filename='img/ait-logo.jpg') }}" alt="IAEA Logo" />
    </div>
    <div class="text-container">
        <strong>AIT Austrian Institute of Technology GmbH</strong><br>
        Giefinggasse 4 <br>
        A-1210 Vienna, Austria<br>
        Telephone: +43 (0) 50550-0, <a href="https://www.ait.ac.at/" target="_blank">www.ait.ac.at</a>
    </div>
</div>