
<div id="navigation">
  <a href="/login" class="logo tooltip">

    {% if logo %}
      {{ logo | safe }}
    {% else %}
      <img src="{{ url_for('static', filename='img/ait-logo.svg') }}" alt="AIT" />
    {% endif %}

    <span class="tooltiptext">{{ 'Logout' if authenticated else 'Login' }}</span>
  </a>

  {% if authenticated is sameas true %}
    <nav class="top-nav">
      <ul>
        {% if admin %}
          {% with href="/result/all", tooltip="Results", icon="icon_results" %}
            {% include "partials/tab.html" %}
          {% endwith %}

          {% with href="/questionaire/all", tooltip="Questionaire", icon="icon_charts" %}
            {% include "partials/tab.html" %}
          {% endwith %}

          {% with href="/comments", tooltip="Comments", icon="icon_chat" %}
            {% include "partials/tab.html" %}
          {% endwith %}

          {% with href="/admin/notifications", tooltip="Notifications", icon="icon_notification_active" %}
            {% include "partials/tab.html" %}
          {% endwith %}
        {% endif %}

        {% if url_documentation %}
          {% with href="/access#documentation", tooltip="Documentation", icon="icon_doc" %}
            {% include "partials/tab.html" %}
          {% endwith %}
        {% endif %}

        {% if url_exercises %}
          {% with href="/access#exercises", tooltip="Exercises", icon="icon_play" %}
            {% include "partials/tab.html" %}
          {% endwith %}
        {% endif %}

        {% if url_presentations %}
          {% with href="/access#presentations", tooltip="Presentations", icon="icon_slides" %}
            {% include "partials/tab.html" %}
          {% endwith %}
        {% endif %}

        {% for site in staticsites %}
          {% with href="/access#"+site.id, tooltip=site.title, icon=site.icon %}
            {% include "partials/tab.html" %}
          {% endwith %}
        {% endfor %}

        {% if vnc_clients %}
          {% for vnc_client, client_info in vnc_clients.items() %}
            <li>
              <a href="/access#{{ vnc_client }}" class="tooltip">
                <svg><use xlink:href="#icon_vnc"></use></svg>
                <span class="tooltiptext">{{ client_info.tooltip }}</span>
                {% if vnc_clients | length > 1 %}
                  <div class="tab_index">
                    <span>{{ loop.index }}</span>
                  </div>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
  {% endif %}

  <nav class="bottom-nav">
    <ul>
      {% if authenticated is sameas true %}
        <li>
          <a id="menu-notification" class="tooltip" state="active">
            <svg><use xlink:href="#icon_notification_active"></use></svg>
            <span class="tooltiptext">Show/Hide notifications</span>
            <div class="tab_index" style="display: hidden;">
              <span></span>
            </div>
          </a>
        </li>
        <li>
          <a id="menu-newtab" class="tooltip">
            <svg><use xlink:href="#icon_newtab"></use></svg>
            <span class="tooltiptext">Open current view in new tab</span>
          </a>
        </li>
      {% endif %}

      {% if chat %}
        <li>
          <a href="#" id="menu-chat" class="tooltip">
            <svg><use xlink:href="#icon_chat"></use></svg>
            <span class="tooltiptext">Support Chat</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

</div>
