html,
body {
  overflow: hidden;
}

[role="link"]:hover {
  cursor: pointer;
}

.v-btn:not(.v-btn--outlined) {
  border: none !important;
  outline: none !important;

  &::after {
    border: none !important;
    outline: none !important;
  }
}

.v-btn.v-btn--icon {
  border-radius: 0;
}

h1.main-title {
  font-size: 5rem;
  line-height: 1;

  span {
    display: block;
  }
}

.v-badge__badge,
.v-badge__badge::after {
  pointer-events: none !important;
}

.pager {
  top: 0;
  transition: all 150ms;
  position: absolute;
  width: calc(100vw - 56px);
  height: 100%;
  overflow-x: hidden;
  opacity: 1;

  &.invisible {
    opacity: 1;
    z-index: 10;
    animation: fade 250ms forwards;
  }
}

@keyframes fade {
  0% {
    z-index: 10;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -10;
  }
}

button.v-btn.admin {
  border-radius: 0;
  background-color: #f1f1f1;

  &.active {
    background-color: red;
    color: red;
  }
}

button.v-btn.resume-btn,
button.v-btn.resume-btn span {
  color: white;
}
