{% extends "base.html" %}
{% block title %}
CyberRange
{% endblock %}
{% block content %}

<iframe id="exercises" class="content-container pager" frameborder="0" noresize="noresize" src="{{ url_exercises }}"
  frameborder="0"></iframe>

<iframe id="documentation" class="content-container pager" frameborder="0" noresize="noresize" src="{{ url_documentation }}"
  frameborder="0"></iframe>

<iframe id="presentations" class="content-container pager" frameborder="0" noresize="noresize" src="{{ url_presentations }}"
  frameborder="0"></iframe>

{% for site in staticsites %}
  <iframe id="{{ site.id }}" class="content-container pager" frameborder="0" noresize="noresize" src="{{ site.url }}"
  frameborder="0"></iframe>
{% endfor %}

{% if vnc_clients %}
<div id="client-resume" class="hideContent content-container pager">
  <div class="center-content">
    <h2>Resume VNC Client here</h2>
    <p>
      The VNC Client is currently opened in a different browser-tab. <br />
      Only one instance can be run simultaneously.
    </p>
    <button id="resume-btn" class="btn gray-btn">Resume here</button>
  </div>
</div>

{% for vnc_client, client_info in vnc_clients.items() %}
<iframe id="{{ vnc_client }}" class="content-container pager novnc_client" frameborder="0" noresize="noresize"
  src="{{ client_info.url }}" name="{{ client_info.tooltip }}"></iframe>
{% endfor %}
{% endif %}

<div id="preloader" class="content-container pager">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>
  window.landingpage = "{{ landingpage }}"
  function setDrawIO(url_encoded_data) {
    execSetDrawIO(url_encoded_data)
  }
</script>

{% endblock %}
