{% extends "base.html" %}
{% block title %}
CyberRange
{% endblock %}
{% block content %}

<iframe id="exercises" class="content-container pager" frameborder="0" noresize="noresize" src="{{ url_exercises }}"
  frameborder="0"></iframe>

<iframe id="docs" class="content-container pager" frameborder="0" noresize="noresize" src="{{ url_documentation }}"
  frameborder="0"></iframe>

{% if screenSharing is sameas true %}
<div id="screensharing" class="content-container pager">
  <div id="sharingActionContainer">
    <div id="controls">
      {% if presenter %}
        <button class="btn gray-btn" id="btnStartScreenSharing">
          <svg class="bi btn-icon" width="22" height="22" role="img">
            <use xlink:href="#slides"></use>
          </svg>
          share screen
        </button>
        <button class="btn red-btn" id="btnStopScreenSharing" style="display: none">
          <svg class="bi btn-icon" width="22" height="22" role="img">
            <use xlink:href="#error"></use>
          </svg>
          stop sharing
        </button>
      {% else %}
        <button class="btn gray-btn" id="btnWatch">
          <svg class="bi btn-icon" width="22" height="22" role="img">
            <use xlink:href="#play"></use>
          </svg>
          watch
        </button>
      {% endif %}
    </div>
  </div>

  <div id="videoContainer">
    <video autoplay></video>
  </div>

  <div id="statusDiv" class="notification-box success" style="display: none">
    <span>
      <svg class="bi" width="18" height="18" role="img">
        <use xlink:href="#ok"></use>
      </svg>
      <strong>Success:</strong> active screen sharing
    </span>
  </div>

  <script src="{{url_for('static', filename='webrtc.js')}}"></script>
</div>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
{% endif %}

<div id="client-resume" class="hideContent content-container pager">
  <div class="center-content">
    <h2>Resume VNC Client here</h2>
    <p>
      The VNC Client is currently opened in a different browser-tab. <br />
      Only one instance can be run simultaneously.
    </p>
    <button id="resume-btn" class="btn gray-btn">Resume here</button>
  </div>
</div>

{% if vnc_clients %}
{% for vnc_client, client_info in vnc_clients.items() %}
<iframe id="{{ vnc_client }}" class="content-container pager novnc_client" frameborder="0" noresize="noresize"
  src="{{ client_info.url }}" name="{{ client_info.tooltip }}"></iframe>
{% endfor %}
{% endif %}

<div id="preloader" class="content-container pager">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
{% endblock %}
