/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rubik-v21-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v21-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v21-latin-300.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v21-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/rubik-v21-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v21-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v21-latin-600.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v21-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: $main-bg-color;
}

html {
  height: -webkit-fill-available;
  font-size: 16px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#nav-container {
  display: flex;
  flex-wrap: nowrap;
  width: $nav-width;
  height: 100vh;
  max-height: 100vh;
}

.content-container {
  z-index: 10;
  position: absolute;
  width: calc(100% - #{$nav-width});
  height: 100%;
  margin-left: $nav-width;
  background-color: $main-bg-color;
  overflow-x: hidden;
}

a {
  color: $info;
  text-decoration: none;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
p,
input,
label {
  font-family: "Rubik", sans-serif;
  color: $main-text-color;
  max-width: 60em;
}

h1 {
  font-weight: 700;
  font-size: 4.5em;
}

h3 {
  font-weight: 300;
  color: $dark-2;
  padding: 0 0 1.2em 0;
}

h4 {
  font-weight: 700;
  color: $dark-2;
  padding: 0;
}

h5 {
  font-weight: 300;
  color: $primary;
  padding: 0 0 0.6em 0;
}

.heading_highlight {
  color: $primary;
}

.center-content {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.pager {
  transition: all 150ms;
}

.hideContent {
  visibility: hidden;
  opacity: 0;
  z-index: -99999;
  left: -99999;
}

.resumePage {
  z-index: 500;
  display: flex;
  position: absolute;
  top: 0;

  & h2 {
    font-weight: 700;
    color: $primary;
  }
  & .center-content {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

#preloader {
  transition: all 500ms;
}

.notification-box {
  position: absolute;
  width: 100%;
  display: block;
  padding: 10px 0;
  height: auto;
  top: -100px;
  -webkit-animation: slide 0.6s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 0.6s forwards;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  color: $light;

  & span {
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
  }

  &.error {
    background-color: $danger;
  }

  &.success {
    background-color: $success;
  }
}

@-webkit-keyframes slide {
  100% {
    top: 0;
  }
}

@keyframes slide {
  100% {
    top: 0;
  }
}

.lds-ring {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg.developed-by {
  fill: $developed-by;
  float: right;
}

#branding-container {
  max-width: 60em;
  // display: inline-block;
  height: auto;
  background-color: $branding-bg-color;
  border: 2px solid $branding-border-color;
  border-radius: 6px;
  padding: 15px;
  margin-top: 2.8em;
}

.branding-logo {
  width: 100%;
  float: left;
  padding: 20px 30px 20px 10px;
  // clear: inline-end;
}

.branding-logo-line {
  display: flex;
  width: 100%;
  padding: 0px 10px;
}

.branding-logo-line .logo-container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
  width: 30%;
  max-width: 18em;
  min-width: 14em;
}
.branding-logo-line .text-container {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
