// -------------------------------------------------------------
// Theme Colors
// -------------------------------------------------------------

$main-bg-color: $dark-1 !default;
$main-text-color: $light-2 !default;
$developed-by: lighten($mid-2, 40) !default;

$input-bg-color: $mid-2 !default;
$input-placeholder-color: lighten($mid-2, 40) !default;
$input-text-color: $light-2 !default;

$branding-bg-color: white;
$branding-border-color: $light-2;
