#navigation {
  display: flex;
  background-color: $dark-2;
  color: $light;
  width: $nav-width;
  height: 100%;

  a.active {
    background: none;
    border-radius: 0;

    svg {
      fill: $light;
    }

    .client_index {
      background-color: $light;
    }
  }
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.nav-item {
  transition: all 400ms;
  text-align: center;

  .client_index {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    outline: 2px solid $dark-2;
    background-color: $purple-light;
    height: 15px;
    width: 15px;
    position: absolute;
    margin-top: 12px;
    margin-left: -8px;
    transition: all 400ms;
  }

  .client_index span {
    display: inline-block;
    padding-top: 48%;
    padding-bottom: 50%;
    font-weight: 900;
    color: $dark-2;
    font-size: 10px;
    transition: all 400ms;
  }

  .nav-link {
    border-radius: 0;
  }

  .nav-link svg {
    fill: $purple-light;
    transition: all 400ms;
  }

  &:hover {
    background-color: $mid-1;

    .nav-link svg {
      fill: $light;
    }

    .client_index {
      color: $mid-1;
      background-color: $light;
      outline: 2px solid $mid-1;

      & span {
        color: $mid-1;
      }
    }
  }
}

#menu-chat {
  transition: all 100ms;
  cursor: pointer;

  &.active {
    background-color: $primary !important;
    background: none;
    border-radius: 0;

    svg {
      fill: $light;
    }
  }
}

#menu-newtab {
  transition: all 100ms;
  cursor: pointer;
}
