#navigation {
  background: var(--sidebar-background-color);
  display: flex;
  flex-direction: column;
  width: var(--nav-width);
  height: 100%;

  .logo {
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;

    svg, img {
      fill: white;
      height: 42px;
      width: 42px;
    }
  }

  nav {

    ul {
      list-style: none;
      padding: 0;

      li {
        height: 52px;
        transition: all 250ms;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          position: relative;

          svg {
            height: 24px;
            width: 24px;
            fill: var(--menu-inactive-color);
            transition: all 250ms;
          }

          .tab_index {
            display: flex;
            justify-content: center;
            align-content: center;
            right: 10px;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            margin-top: 12px;
            margin-left: -8px;
            outline: 2px solid var(--sidebar-background-color);
            background-color: var(--menu-inactive-color);
            transition: all 250ms;

            span {
              display: inline-block;
              font-weight: 900;
              color: var(--sidebar-background-color);
              font-size: 10px;
              margin-top: 1px;
              transition: all 250ms;
            }
          }

        }

        &:hover, a.active {
          svg {
            fill: var(--menu-active-color);
          }
          .tab_index {
            background-color: var(--menu-active-color);
          }
        }

      }
    }

    &.top-nav {
      margin-bottom: auto;
    }
    &.bottom-nav ul {
      margin-bottom: 0px;
    }
  }
}


#menu-chat {
  transition: all 100ms;
  cursor: pointer;

  &.active {
    background-color: var(--primary-color) !important;
    background: none;
    border-radius: 0;

    svg {
      fill: var(--light-grey-color);
    }
  }
}

#menu-newtab, #menu-notification {
  transition: all 100ms;
  cursor: pointer;
}
