// -------------------------------------------------------------
// Theme Colors
// -------------------------------------------------------------

$main-bg-color: $light-1;
$main-text-color: $dark-1;
$developed-by: darken($light-2, 30);

$input-bg-color: $light-2;
$input-placeholder-color: darken($light-2, 30);
$input-text-color: $dark-1;

$branding-bg-color: white;
$branding-border-color: $light-2;
