$nav-width: 60px;

// -------------------------------------------------------------
// Default Color Definitions
// -------------------------------------------------------------

// Shades of gray
$light: #dedfe4 !default;
$light-1: #f6f6f6 !default;
$light-2: #dedfe4 !default;
$light-3: #7e7e85 !default;

$mid-1: #3c3e49 !default;
$mid-2: #32333c !default;

$dark: #191b23 !default;
$dark-1: #191b23 !default;
$dark-2: #0f1017 !default;

// Shades of blue
$info: #619dc7 !default;
$blue-light: #619dc7 !default;

// Shades of red
$primary: #d34a5d !default;
$danger: #d34a5d !default;
$red-light: #d34a5d !default;
$red-mid: #da1e55 !default;

// Shades of green
$success-light: #6cbd8e !default;
$green-light: #6cbd8e !default;
$success: #4a8864 !default;
$green-mid: #4a8864 !default;

// Shades of purple
$secondary: #70759d !default;
$purple-light: #70759d !default;
$purple-mid: #565a79 !default;

$warning: #afa258 !default;
