
<div id="navigation" class="d-flex flex-column flex-shrink-0">
  <a href="/login" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
  data-bs-placement="right" data-bs-original-title="{{ 'Logout' if authenticated else 'Login' }}">


    {% if branding %}
      <svg class="bi nav-logo">
        <use xlink:href="#{{ theme }}"></use>
      </svg>
    {% else %}
      <svg class="bi" width="28" height="28" style="margin-left: 2px">
        <use style="fill: #d34a5d" xlink:href="#learners-icon"></use>
      </svg>
    {% endif %}
  </a>

  <nav class="mb-auto">
    {% if admin and authenticated is sameas true %}
      <ul class="nav flex-column text-center">
        <li class="nav-item">
          <a href="/admin" class="nav-link py-3 active" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Results">
            <svg class="bi" width="24" height="24" role="img">
              <use xlink:href="#doc"></use>
            </svg>
          </a>
        </li>
      </ul>
    {% elif authenticated is sameas true %}
      <ul class="nav flex-column text-center">
        <li class="nav-item">
          <a href="/access#docs" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Documentation">
            <svg class="bi" width="24" height="24" role="img">
              <use xlink:href="#doc"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a href="/access#exercises" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Run Exercises">
            <svg class="bi" width="22" height="22" role="img">
              <use xlink:href="#play"></use>
            </svg>
          </a>
        </li>
      {% endif %}

      {% if screenSharing is sameas true and authenticated is sameas true %}
        <li class="nav-item">
          <a href="/access#screensharing" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="view presentation">
            <svg class="bi" width="22" height="22" role="img">
              <use xlink:href="#slides"></use>
            </svg>
          </a>
        </li>
      {% endif %}

      {% if vnc_clients and authenticated is sameas true %}
        {% for vnc_client, client_info in vnc_clients.items() %}
          <li class="nav-item">
            <a href="/access#{{ vnc_client }}" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right"
              data-bs-original-title="{{ client_info.tooltip }}">
              <svg class="bi" width="22" height="22" role="img">
                <use xlink:href="#vnc"></use>
              </svg>
              {% if vnc_clients | length > 1 %}
                <div class="client_index">
                  <span>{{ loop.index }}</span>
                </div>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}

      {% if authenticated is sameas true and not admin %}
        {% if mitre_url %}
          <li class="nav-item">
            <a href="{{ mitre_url }}" target="_blank" class="nav-link py-3 external-link" data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="MITRE ATT&CK®">
              <svg class="bi" width="22" height="22" role="img">
                <use xlink:href="#mitre"></use>
              </svg>
            </a>
          </li>
        {% endif %}
        {% if drawio_url %}
          <li class="nav-item">
            <a href="{{ drawio_url }}" target="_blank" class="nav-link py-3 external-link" data-bs-toggle="tooltip"
              data-bs-placement="right" data-bs-original-title="Draw.io">
              <svg class="bi" width="28" height="28" role="img">
                <use xlink:href="#drawio"></use>
              </svg>
            </a>
          </li>
        {% endif %}
      {% endif %}

    </ul>
  </nav>

  <div class="nav-item">
    <a id="menu-newtab" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right"
      data-bs-original-title="Open current view in new tab">
      <svg class="bi" width="24" height="24" role="img">
        <use xlink:href="#newtab"></use>
      </svg>
    </a>
  </div>

  {% if chat %}
    <div class="nav-item">
      <span href="#" id="menu-chat" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Support Chat">
        <svg class="bi" width="21" height="21" role="img">
          <use xlink:href="#chat"></use>
        </svg>
      </span>
    </div>
  {% endif %}
</div>
